<img class='preview' src={{imageURL}} alt='' />
<div class='info'>
  <strong>{{displayName}}</strong>
  <aside>
    <span>{{followers}} followers</span><br>
    <span>{{views}} views</span><br>
    <span>Language: {{language}}</span>
  </aside>
</div>
