<img class='preview' src={{imageURL}} alt='' />
<div class='info'>
  <strong>{{streamName}}</strong>
  <aside>
    <span>{{gameName}}</span> -
    <span>{{viewers}} viewers</span><br>
    <span>{{displayName}}</span><br>
    <span>{{calc-time-since-stream createdDate}}</span>
  </aside>
</div>
